.root {
    -bg-color-tool-bar: rgb(235,235,235);
    -fx-font-size: 13;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: white;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: red;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: white;
}

.button-box {
    -fx-padding: 2;
    -fx-spacing: 2;
    -fx-alignment: center;
}

.bordered-titled-title {
  -fx-background-color: -bg-color-tool-bar;
  -fx-text-fill: black;
  -fx-font-size: 11;
  -fx-font-weight: bold;
  -fx-font-style: italic;
  -fx-translate-y: -10;
  -fx-translate-x: 5;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 3;
  -fx-background-color: -bg-color-tool-bar;
  -fx-border-radius: 5;
  -fx-border-color: linear-gradient(to bottom right, rgb(100,100,100), rgb(70,70,70));
  -fx-border-width: 2.6;
}

.tool-bar {
    -fx-background-color: -bg-color-tool-bar;
    -fx-padding: 5 0 0 0;
}

.bordered-titled-content {
    -fx-padding: 10 4 5 4;
}

.button, .toggle-button {
    -fx-border-color: linear-gradient(to bottom right, grey, black);
    -fx-border-width: 1.5;
    -fx-border-radius: 3;
}