.root {
    -fx-font-size: 13;
    -fx-font-weight: bold;
}

.dialog-pane:header .header-panel .label{
  -fx-font-weight: normal;
  -fx-font-size: 20;
}

.dialog-pane:header .header-panel .image-view{
  -fx-translate-x: -12;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: white;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: red;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: white;
}